.caculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #88BEF5;
}

.display {
  width: 100%;
  height: 50px;
  background-color: #ffff;
  color: #151515;
  font-size: 2em;
  text-align: right;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
button {
  background-color: #F4FA9C;
  color: #151515;
  font-size: 1.5em;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50px;
}
button:hover {
  background-color: #ffffff;
}

button:active {
  background-color: #dddddd;
}
